Repository Fr3doo/Postman_Runner_File_Processor: changes, and which Codecov flags are due for each by the changed paths.
All: CLI, ReactComponents, Hooks, Services, Utils, Config, I18n, Types

.codecov.yml:

# Exige que le CI bloque si Codecov échoue
codecov:
  require_ci_to_pass: yes  # S’assure que la PR ne peut être mergée qu’en cas de succès de Codecov

# Regroupement par composants logiques (ex: cli, services…)
component_management:
  # Règles par défaut appliquées à tous les composants
  default_rules:
    statuses:
      - type: project       # Type de check : "project" pour la couverture globale du composant
        target: auto        # Cible automatique (hérite de la couverture actuelle) :contentReference[oaicite:0]{index=0}
        threshold: 0%       # Tolérance minimale permise

  individual_components:
    - component_id: cli
      name: CLI
      paths:
        - "src/cli/**"      # Inclut tout le code du dossier src/cli/
      # Statuts spécifiques à ce composant
      statuses:
        project:
          unit:
            flags: [unit]   # Test unitaires
            target: 85%     # Cible de couverture globale pour CLI
            threshold: 1%   # Tolérance de baisse autorisée
            informational: false
          e2e:
            flags: [e2e]    # Tests end-to-end
            target: 70%
            threshold: 2%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 80%     # Cible minimale pour les nouveaux commits sur CLI :contentReference[oaicite:1]{index=1}
            informational: false
          e2e:
            flags: [e2e]
            target: 65%
            informational: false

    - component_id: react_components
      name: ReactComponents
      paths:
        - "src/components/**"
      # Statuts pour le composant des composants React
      statuses:
        project:
          unit:
            flags: [unit]
            target: 90%     # > plus strict pour UI
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 85%
            informational: false

    - component_id: hooks
      name: Hooks
      paths:
        - "src/hooks/**"
      statuses:
        project:
          unit:
            flags: [unit]
            target: 85%
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 80%
            informational: false

    - component_id: services
      name: Services
      paths:
        - "src/services/**"
      statuses:
        project:
          unit:
            flags: [unit]
            target: 95%     # Coverage critique pour la logique métier
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 90%
            informational: false

    - component_id: utils
      name: Utils
      paths:
        - "src/utils/**"

    - component_id: config
      name: Config
      paths:
        - "src/config/**"

    - component_id: i18n
      name: I18n
      paths:
        - "src/i18n/**"

    - component_id: types
      name: Types
      paths:
        - "src/types/**"

# Paramètres globaux de couverture
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      unit:
        flags: [unit]
        target: 85%
        threshold: 1%
        informational: false
      e2e:
        flags: [e2e]
        target: 70%
        threshold: 2%
        informational: false
    patch:
      unit:
        flags: [unit]
        target: 80%
        informational: false
      e2e:
        flags: [e2e]
        target: 65%
        informational: false
    files:
      default:
        target: 70%
        threshold: 5%

# Configuration des commentaires dans la PR
comment:
  layout: "reach, diff, flags, files, components"  # Ajoute la section Components dans le commentaire :contentReference[oaicite:2]{index=2}
  behavior: default
  require_changes: true

[ProcessFileCommand] add metrics to processed files
  src/services/ProcessFileCommand.ts
  src/services/__tests__/FileHistoryService.test.ts
  src/services/__tests__/ProcessFileCommand.test.ts
  src/types/index.ts
Due: Services, Types

Update ci.yml
  .github/workflows/ci.yml
Due: none

feat(history): display file metrics
  src/components/FileHistoryGrid.tsx
  src/components/__tests__/FileHistoryPage.test.tsx
  src/i18n/index.ts
Due: ReactComponents, I18n

docs: explain history metrics
  docs/guides/file-history.md
  docs/index.md
Due: none

Create comment-codecov-ai.yml
  .github/workflows/comment-codecov-ai.yml
Due: none

Update comment-codecov-ai.yml
  .github/workflows/comment-codecov-ai.yml
Due: none

Update cleanup.yml
  .github/workflows/cleanup.yml
Due: none

feat(LocalFileService): manage local JSON files
  src/services/LocalFileService.ts
  src/services/__tests__/LocalFileService.test.ts
Due: Services

Update src/services/LocalFileService.ts
  src/services/LocalFileService.ts
Due: Services

Update src/services/__tests__/LocalFileService.test.ts
  src/services/__tests__/LocalFileService.test.ts
Due: Services

feat(LocalFilesPage): list and manage local JSON files
  .github/workflows/cleanup.yml
  src/App.tsx
  src/components/__tests__/Header.navigation.test.tsx
  src/components/__tests__/LocalFilesPage.test.tsx
  src/components/header/defaultNavItems.ts
  src/components/pages/LocalFilesPage.tsx
  src/components/pages/index.ts
  src/services/LocalFileService.ts
  src/services/__tests__/LocalFileService.test.ts
Due: ReactComponents, Services

Update src/components/pages/LocalFilesPage.tsx
  src/components/pages/LocalFilesPage.tsx
Due: ReactComponents

cli: log outputs in index file
  docs/guides/cli-tests.md
  src/cli/__tests__/convert.test.ts
  src/cli/convert.ts
  src/components/pages/LocalFilesPage.tsx
  src/services/LocalFileService.ts
  src/services/__tests__/LocalFileService.test.ts
Due: CLI, ReactComponents, Services

Update .codecov.yml
  .codecov.yml
Due: none

[FileHistoryService] add configurable max history
  docs/reference/security-config.md
  src/config/security.ts
  src/services/ConfigService.ts
  src/services/FileHistoryService.ts
  src/services/__tests__/FileHistoryService.test.ts
  src/services/__tests__/configService.test.ts
  src/utils/__tests__/fileHistoryService.test.ts
Due: Services, Utils, Config

Delete .github/workflows/cleanup.yml
  .github/workflows/cleanup.yml
Due: none

Delete .github/workflows/comment-codecov-ai.yml
  .github/workflows/comment-codecov-ai.yml
Due: none

feat(FileHistoryGrid): add client-side filename filter
  src/components/FileHistoryGrid.tsx
  src/components/__tests__/FileHistoryGrid.test.tsx
  src/i18n/index.ts
Due: ReactComponents, I18n

Update AGENTS.md
  AGENTS.md
Due: none

feat(file-history): allow bulk download
  src/components/FileHistoryGrid.tsx
  src/components/__tests__/FileHistoryGrid.test.tsx
  src/i18n/index.ts
Due: ReactComponents, I18n

Update src/components/FileHistoryGrid.tsx
  src/components/FileHistoryGrid.tsx
Due: ReactComponents

Update src/components/__tests__/FileHistoryGrid.test.tsx
  src/components/__tests__/FileHistoryGrid.test.tsx
Due: ReactComponents

docs: add LocalFileService testing guide
  docs/guides/contributing.md
  src/components/FileHistoryGrid.tsx
  src/components/__tests__/FileHistoryGrid.test.tsx
Due: ReactComponents

Added vite.config.ts.timestamp-1750174067814-65e3dda549d818.mjs
  vite.config.ts.timestamp-1750174067814-65e3dda549d818.mjs
Due: none
