Repository Fr3doo/Postman_Runner_File_Processor: changes, and which Codecov flags are due for each by the changed paths.
All: CLI, ReactComponents, Hooks, Services, Utils, Config, I18n, Types

.codecov.yml:

# Exige que le CI bloque si Codecov échoue
codecov:
  require_ci_to_pass: yes  # S’assure que la PR ne peut être mergée qu’en cas de succès de Codecov

# Regroupement par composants logiques (ex: cli, services…)
component_management:
  # Règles par défaut appliquées à tous les composants
  default_rules:
    statuses:
      - type: project       # Type de check : "project" pour la couverture globale du composant
        target: auto        # Cible automatique (hérite de la couverture actuelle) :contentReference[oaicite:0]{index=0}
        threshold: 0%       # Tolérance minimale permise

  individual_components:
    - component_id: cli
      name: CLI
      paths:
        - "src/cli/**"      # Inclut tout le code du dossier src/cli/
      # Statuts spécifiques à ce composant
      statuses:
        project:
          unit:
            flags: [unit]   # Test unitaires
            target: 85%     # Cible de couverture globale pour CLI
            threshold: 1%   # Tolérance de baisse autorisée
            informational: false
          e2e:
            flags: [e2e]    # Tests end-to-end
            target: 70%
            threshold: 2%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 80%     # Cible minimale pour les nouveaux commits sur CLI :contentReference[oaicite:1]{index=1}
            informational: false
          e2e:
            flags: [e2e]
            target: 65%
            informational: false

    - component_id: react_components
      name: ReactComponents
      paths:
        - "src/components/**"
      # Statuts pour le composant des composants React
      statuses:
        project:
          unit:
            flags: [unit]
            target: 90%     # > plus strict pour UI
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 85%
            informational: false

    - component_id: hooks
      name: Hooks
      paths:
        - "src/hooks/**"
      statuses:
        project:
          unit:
            flags: [unit]
            target: 85%
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 80%
            informational: false

    - component_id: services
      name: Services
      paths:
        - "src/services/**"
      statuses:
        project:
          unit:
            flags: [unit]
            target: 95%     # Coverage critique pour la logique métier
            threshold: 1%
            informational: false
        patch:
          unit:
            flags: [unit]
            target: 90%
            informational: false

    - component_id: utils
      name: Utils
      paths:
        - "src/utils/**"

    - component_id: config
      name: Config
      paths:
        - "src/config/**"

    - component_id: i18n
      name: I18n
      paths:
        - "src/i18n/**"

    - component_id: types
      name: Types
      paths:
        - "src/types/**"

# Paramètres globaux de couverture
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      unit:
        flags: [unit]
        target: 85%
        threshold: 1%
        informational: false
      e2e:
        flags: [e2e]
        target: 70%
        threshold: 2%
        informational: false
    patch:
      unit:
        flags: [unit]
        target: 80%
        informational: false
      e2e:
        flags: [e2e]
        target: 65%
        informational: false
    files:
      default:
        target: 70%
        threshold: 5%

# Configuration des commentaires dans la PR
comment:
  layout: "reach, diff, flags, files, components"  # Ajoute la section Components dans le commentaire :contentReference[oaicite:2]{index=2}
  behavior: default
  require_changes: true

Deleted vite.config.ts.timestamp-1750174067814-65e3dda549d818.mjs
  vite.config.ts.timestamp-1750174067814-65e3dda549d818.mjs
Due: none

Added vite.config.ts.timestamp-1750174273207-dc22caea4b2f5.mjs
  vite.config.ts.timestamp-1750174273207-dc22caea4b2f5.mjs
Due: none

Deleted vite.config.ts.timestamp-1750174273207-dc22caea4b2f5.mjs
  vite.config.ts.timestamp-1750174273207-dc22caea4b2f5.mjs
Due: none

Added vite.config.ts.timestamp-1750174910949-aad60760706688.mjs
  vite.config.ts.timestamp-1750174910949-aad60760706688.mjs
Due: none

Deleted vite.config.ts.timestamp-1750174910949-aad60760706688.mjs
  vite.config.ts.timestamp-1750174910949-aad60760706688.mjs
Due: none

feat(localfile): dynamic node imports for browser check
  docs/guides/contributing.md
  docs/overview/limitations.md
  src/components/__tests__/LocalFilesPage.test.tsx
  src/components/pages/LocalFilesPage.tsx
  src/services/LocalFileService.ts
Due: ReactComponents, Services

Update src/services/LocalFileService.ts
  src/services/LocalFileService.ts
Due: Services

fix(FileUpload): forward ref to Card component
  src/components/ui/Card.tsx
Due: ReactComponents

feat: unifier le .gitignore pour Python et Node.js
  .gitignore
Due: none

chore: reorganize .gitignore and add c8ignore section
  .gitignore
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

[LocalFileService] lazy load fs for browser
  src/services/LocalFileService.ts
Due: Services

refactor(localfileservice): set directory conditionally
  src/services/LocalFileService.ts
Due: Services

feature/local-file-browser
  docs/guides/usage-example.md
  src/components/pages/LocalFilesPage.tsx
  src/services/LocalFileService.ts
  src/services/__tests__/LocalFileService.browser.test.ts
Due: ReactComponents, Services

docs: add local files guide
  README.md
  docs/guides/local-files.md
  docs/index.md
Due: none
